body {
  color: #757575;
  font-size: 19px;

  h1 {
    font-weight: bold;
    font-size: 57px;
    color: #4f4f4f;
  }

  h2 {
    font-size: 45px;
    color: #a8a8a7;
  }

  h3 {
    font-size: 25px;
    color: #757575;
    font-weight: normal;
  }

  a {
    font-weight: bold;
  }
}


.color-bar-top {
  background: url(../assets/color-bar.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
}

nav {
  height: 68px;
  background-color: #efefe9;
  border-bottom: 1px solid #ddd;
  padding-top: 3px;

  .container {
    position: relative;
    margin-left: 157px;
    margin-right: auto;
    width: 1065px;
  }

  .clearfix:after {
    display:table;
    line-height:0;
    content:"";
  }

  .logo {
    float: left;
    overflow: hidden;
    height: 68px;


    a {
      color: transparent;
      background-image: url(../assets/gumroad-logo.png);
      height: 30px;
      width: 30px;
      display: block;
      background-size: 30px;
      margin-top: 17px;
    }
  }

    ul  {
      float: right;
      list-style: none;

    li {
      display: inline-block;
      padding-left: 30px;
      margin-top: 18px;

      a {
        color: #a8a8a7;
        font-size: 13px;
        font-weight: normal;
        transition: color 0.28s ease;
      }

      a:hover {
        text-decoration: none;
        color: #757575;
      }
    }
  }
}

.main {
  margin: 95px 0 0 0;
  position: relative;
}

.side-bar {
  width: 150px;
  margin: 10px 10px 0 33px;
  position: absolute;
  text-align: right;
  color: #a8a8a7;

  p {
    font-size: 11px;
  }

  .bio {

    img.portrait {
      width: 25px;
    }

    p {
      margin-top: 10px;
    }
  }

  ul  {
    list-style: none;

    p {
      font-weight: bold;
    }

    li {
      padding-bottom: 10px;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }
}

.article  {
  margin-bottom: 50px;
  padding-left: 108px;
  max-width: 823px;

  .title-area h1, h2 {
    line-height: 50px;
  }


  .article-content {
    float: left;
    padding: 20px 0 0 15px;

    img {
      margin: 10px 0 30px 0;
    }

    figure {
      float: right;
      height: 230px;

      figcaption {
        font-size: 11px;
        text-transform: uppercase;
        color: #a8a8a7;
        max-width: 338px;
        line-height: 17px;
      }

      img {
        margin: 0 0 5px 0;
        max-width: 340px;
      }
    }
  }
}

footer {
  background-color: #efefe9;
  border-top: 1px solid #ddd;
  height: 300px;
  padding-bottom: 3px;

  .row {
    margin-top: 20px;
  }

  .content {
    height: 210px;
    border-right: 1px solid #ddd;
    padding-left: 53px;
  }

  .content.newsletter {
    border: none;
  }

  .elsewhere img {
    margin: 0 5px 4.7px 0;
    width: 14px;
  }

  h5 {
    font-size: 13px;
    color: #757575;
    font-weight: bold;
  }

  ul {
    list-style: none;
    margin: 0;

    li a {
      font-weight: normal;
      font-size: 13px;
      color: #a8a8a7;
      transition: color 0.28s ease;

    }

    a:hover {
      text-decoration: none;
      color: #757575;
    }
  }

  .newsletter {

    h5 {
      margin-bottom: 13px;
    }

    p {
      color: #a8a8a7;
    }

    .button {
      font-size: 15px;
      background: #36a9ae;
      border: 1px solid #2a8387;
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#37adb2', endColorstr='#329ca0', GradientType=0)";
      background: -webkit-linear-gradient(#37adb2, #329ca0);
      background: -moz-linear-gradient(top, #37adb2, #329ca0);
      background: linear-gradient(top, #37adb2, #329ca0);
      background: #36a9ae;
      border: 1px solid #2a8387;
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#37adb2', endColorstr='#329ca0', GradientType=0)";
      background: -webkit-linear-gradient(#37adb2, #329ca0);
      background: -moz-linear-gradient(top, #37adb2, #329ca0);
      background: linear-gradient(top, #37adb2, #329ca0);
    }

    .disclaimer {
      font-weight: normal;
      font-size: 13px;
      color: #a8a8a7;
    }
  }
}

.color-bar-bottom {
  background: url(../assets/color-bar.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  z-index: 100;
}