body {
  color: #757575;
  font-size: 19px;

  h1 {
    font-weight: bold;
    font-size: 57px;
    color: #4f4f4f;
  }

  h2 {
    font-size: 45px;
    color: #a8a8a7;
  }

  h3 {
    font-size: 27px;
    color: #a8a8a7;
  }

  a {
    font-weight: bold;
  }
}


.color-bar-top {
  background: url(../assets/color-bar.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
}

nav {
  height: 68px;
  background-color: #efefe9;
  border-bottom: 1px solid #ddd;
  padding-top: 3px;

  .container {
    width: auto;
    margin: auto auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
  }

  .clearfix:after {
    display:table;
    line-height:0;
    content:"";
  }

  .logo {
    float: left;
    overflow: hidden;
    height: 68px;


    a {
      color: transparent;
      background-image: url(../assets/gumroad-logo.png);
      height: 30px;
      width: 30px;
      display: block;
      background-size: 30px;
      margin-top: 17px;
    }
  }

    ul  {
      float: right;
      list-style: none;

    li {
      display: inline-block;
      padding-left: 10px;
      margin-top: 20px;
    }
  }
}

.side-bar {
  width: 150px;
  margin: 100px 10px 0 33px;
  position: absolute;


  .bio {
    text-align: right;
    color: #a8a8a7;

    img.portrait {
      width: 25px;
    }

    p {
      font-size: 11px;
      margin-top: 10px;
    }
  }
}

.article  {
  margin: 95px 0 50px 0;
  padding-left: 350px;

  .title-area h1, h2 {
    line-height: 50px;
  }

  .article-content {
    float: left;
    padding: 20px 0 0 15px;

    img {
      margin: 10px 0 30px 0;
    }

    figure {
      float: right;
      height: 230px;

      figcaption {
        font-size: 11px;
        text-transform: uppercase;
        color: #a8a8a7;
        max-width: 338px;
        line-height: 17px;
      }

      img {
        margin: 0 0 5px 0;
        max-width: 340px;
      }
    }
  }
}

footer {
  background-color: #efefe9;
  border-top: 1px solid #ddd;
  height: 300px;
  padding-bottom: 3px;
}

.color-bar-bottom {
  background: url(../assets/color-bar.png) top center;
  height: 3px;
  width: 100%;
  position: absolute;
  z-index: 100;
}